<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TestBanqueJSP</display-name>
  <servlet>
    <servlet-name>BankServlet</servlet-name>
    <servlet-class>ch.hevs.servlet.BankServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowForm</servlet-name>
    <servlet-class>ch.hevs.servlet.ShowForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BankServlet</servlet-name>
    <url-pattern>/BankServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowForm</servlet-name>
    <url-pattern>/ShowForm</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>welcomeBank.html</welcome-file>
  </welcome-file-list>
</web-app>